body {
    padding: 0px;
    margin: 0px;
}

.center {
    display: flex;
    justify-content: center;

}

.article-card {
    width: 350px;
    height: 220px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 300ms;

}

.article-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.article-card .FOTO {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
    z-index: 20;
}

.article-card .content {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    padding: 30px 20px 20px 20px;
    height: auto;
    bottom: 0;
    z-index: 50;
}

.article-card .data,
.article-card .id,
.article-card .nome,
.article-card .classificacao {
    margin: 0;
}

.article-card .data {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
    top: 200px;
}

.article-card .id {
    font-size: 14px;
    color: #fff;
    margin-bottom: 4px;
}

.article-card .nome {
    font-size: 17px;
    color: #fff;
    font-weight: 500;
}

.article-card .classificacao {
    font-size: 17px;
    color: #fff;
    font-weight: 500;
}